{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_clipping.css' %}">
{% endblock %}

{% block content %}
<div class="container col-sm-12 col-md-10 col-lg-8 mx-auto px-0 my-2">
  <div class="card-columns">
    {% for object in object_list %}
    <div class="card">
      <img class="card-img-top img-fluid" id={{ object.autor }} alt="">
      <div class="card-body text-dark">
      <blockquote class="card-bodyquote">
        {{ object.texto }}
      </blockquote>
      </div> 
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12 col-md-8 text-muted">
                <small>
                  {{ object.livro }} de {{ object.autor }}, posição {{ object.posicao }}
                </small>
            </div>
            <div class="col-sm-12 col-md-4 text-md-right text-center small">
              <a href="{% url "clipping:update_clipping" object.pk %}" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></i></a>
              <a href="{% url "clipping:remove_clipping" object.pk %}" data-toggle="tooltip" title="Excluir"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/get_images.js' %}"> 
</script>
{% endblock %}
