{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/parser.css' %}">
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="container vertical-center">
        <div class="row">
            Você pode importar recortes a partir de um arquivo, que deve possuir o formato abaixo.
        </div>
        <div class="row">
            <textarea>
Harry Potter e o Cálice de Fogo (J. K. Rowling)
- Seu marcador na página 450 | posição 6893 | Adicionado: segunda-feira, 27 de março de 2017 19:40:08


==========
Harry Potter e o Cálice de Fogo (J. K. Rowling)
- Seu marcador na página 503 | posição 7705 | Adicionado: terça-feira, 28 de março de 2017 09:13:43
            </textarea> 
        </div>
        <div class="row">
            Importe seu arquivo: <input type="file" id="input-file" name="input-file" accept="text/">
        </div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/parser.js' %}"></script>
{% endblock %}
