<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  {% block css %}
  {% endblock %}
  <title>{% block title %}Partorum{% endblock %}</title>
</head>
<body style="background-color:brown; color: white">
  {% load cache %}
  {% cache 500 navbar %}
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'core:home' %}"><i class="fa fa-bookmark" aria-hidden="true"></i>Partorum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'clipping:list_clipping' %}">Recortes <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'clipping:create_clipping' %}">Criar Recorte</a>
            <a class="nav-item nav-link" href="{% url 'clipping:parser' %}">Importar Recortes</a>
            <a class="nav-item nav-link " href="{% url 'core:logout' %}">logout</a>
          </div>
        </div>
      </nav>
  {% endcache %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
  {% block js %}
  {% endblock %}
</body>
</html>
